footer{
    background: $darkblue;
    text-align: center;
    padding: 2.56rem 6.188rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include breack-up (large){
        flex-direction: row;
    }
}
.footer_links{
    @include breack-up(large){
        display: flex;
        text-align: left;
        justify-content: space-between;
        gap: 8.375rem;
        
    }
}
.footer_links1{
    display: flex;
    flex-direction: column;
}
.footer_links2{
    display: flex;
    flex-direction: column;
    @include breack-up (large){
        // margin-left: 8.375rem;
    }
}
.footer_image{
    & img{
        filter:invert(1);
        height: 1.5rem;
        margin-bottom: 2.188rem;
    }
    & .icons{
        & img{
        filter: invert(0);
        cursor: pointer;        
        &:hover{
            filter: invert(1);
        }
    }
    }
}
.footer_links1{
    & a{
        color: $GrayishBlue;
        text-decoration: none;
        font-size: 0.875rem;
        margin-bottom: 1.438rem;
        
        
    }
}
.footer_links2{
    & a{
        color: $GrayishBlue;
        text-decoration: none;
        font-size: 0.875rem;
        &:not(:last-child){
            margin-bottom: 1.438rem;
        }
        &:last-child{
            margin-bottom: 2.375rem;
        }
    }
}



.footer_BTN{
    & h6{
        font-size: 0.813rem;
    }
}