.hero{
    max-width: 100vw;
    @include breack-up(large){
        display: flex;
        flex-direction: row-reverse;
    }
}
.hero_back{
    position: relative;
    @include breack-up(large){
        background-image: url(../images/bg-intro-desktop.svg);
        height: 40rem;
        width: 100%;
        background-position: bottom left;
        background-size: 122%;
        background-repeat: no-repeat;
        // overflow-x: hidden;

    }
    @include breack-down (medium){
        background-image: url(../images/bg-intro-mobile.svg);
        height: 18.75rem;
        background-position: center ;
        
    }
    background-size:cover ;
    // position: relative;
    &::before{
        @include breack-down (medium){
        position: absolute;
        content: "";
        background-image: url(../images/image-mockups.png);
        background-position: center bottom;
        background-size: 95%;
        width: 100%;
        height: 100%;
        }
        @include breack-up(large){
            position: absolute;
            content: "";
            background-image: url(../images/image-mockups.png);
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: 85%;
            width: 100%;
            height: 48.688rem;
            left: 8.5rem;
            
        }
    }
}
.hero_cont{
    text-align: center;
    padding: 3.125rem;
    & h1{
        font-size: 1.875rem;
        color: $darkblue;
        margin-bottom: 1.625rem;
        @include breack-up(large){
            font-size: 3.188rem;
        }
    }
    & p{
        font-size: .813rem;
        padding-bottom: 2.313rem;
        @include breack-up(large){
            font-size: 1.25rem;
        }
    }
}
.part{
    max-width: 38.188rem;
    & h2{
        font-size: 1.813rem;
        color: $darkblue;
    }
    & p{
        font-size: 1rem;
    }
}